

/* HEADER NAV´s - CADASTRO COMPONENT*/

.logged-user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5px;
    font-size: 15px;
}

.logged-user-container p{
    color: var(--secondary-color);
}

.logged-user-container a{
    font-weight: 700;
    cursor: pointer;
}