/* ELEMENTS */

:root{
    --primary-font-color: #d9d9d9;
    --secondary-color: #6d2f6d;
    --dark-gray: #666;
    --lihgt-grey: #9fbdbe;
    --color-white: #fff;
    --bg-btn-collor: #ff8400;
    --bg-rpt-list-color: #333;
    --error-msg: #f00;
    --bg-delivery-card: rgb(134, 216, 134);

}
   
   
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

a, a:hover {
    text-decoration: none;
    color: unset;
}
   
header {
    background-color: var(--dark-gray);
}

nav {
    height: 120px;
    background-color: var(--lihgt-grey);
}

label {
    display: none;
}



   
/* NAV´s CLASSES & IDs */

.container {
    width: 100%;
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.login-container {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.condoTextClass{
    font-size: 15px;
    padding: 0 5px;
}

.loginTextClass{
    margin: 0 5px;
    font-size: 15px;
}

.loginInputClass {
    display: flex;
    flex-direction: column;
}

.inputClassName {
    font-size: 10px;
}

nav input{
    width: 100px;
    height: 20px;
    margin: 5px 5px;
    border-radius: 5px;
    border: 0px;
    outline: none;
    padding: 0 10px;
    color: var(--dark-gray);
}


nav input::placeholder{
    font-size: 10px;
    color: var(--primary-font-color);
}


.btnClassSend {
    width: 100px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--bg-btn-collor);
    color: var(--color-white);
    font-weight: 400;
    font-size: 10px;
    cursor: pointer;
}

.error-message {
    font-size: 8px;
    color: var(--error-msg);
    margin-left: 10px;
}


.errorBorder {
    border: 1px solid var(--error-msg);
}


/* HEADER - CADASTRO COMPONENT*/


.logged-user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5px;
    font-size: 15px;
}

.logged-user-container p{
    color: var(--secondary-color);
}

.logged-user-container a{
    font-weight: 700;
}



/* REPORTS´S CLASSES & IDs */


.report-card-item {
    background-color: var(--lihgt-grey);
    color: var(--secondary-color);
    margin-bottom: 10px;
    border-radius:  5px;
    padding: 20px;
    font-size: 10px;
    cursor: pointer;
}

.complain-card-item {
    background-color: var(--secondary-color);
    color: var(--color-white);
    margin-bottom: 10px;
    border-radius:  5px;
    padding: 20px;
    font-size: 10px;
    cursor: pointer;
}

#report-section h2 {
    font-size: 20px;
    padding: 0 5px;
}


.dflex {
    display: flex;
    margin-bottom: 5px;
}

.date {
    margin-right: 5px;
}

.comp-owner {
    direction: rtl;
    margin-top: 10px;
}




/* DELIVERIES CLASSES & IDs */

.deliveries-card-item {
    max-height: 183px;
    display: flex;
    align-items: center;
    background-color: var(--bg-delivery-card);
    margin-bottom: 10px;
    border-radius: 5px;
}

.deliveries-card-details label {
    font-size: 10px;
    font-weight: 700;
    margin: 5px 0;
}

.deliveries-card-details p {
    display: flex;
    font-size: 10px;
    margin: 5px 5px;
}

#deliveries-card-description{
    display: flex;
}


.deliveries-card-details{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.deliveryBoxImg {
    width: 80px;
    margin: 10px;
}

.ctlStatus{
    font-size: 10px;
    color: var(--error-msg);
    padding: 0 10px;
}



/* BOOTSTREP BREAKPOINTS */

@media(min-width:576px) {
    
    .condoTextClass{
        font-size: 25px;
        padding: 0 10px;
    }

    .login-container {
        padding: 0 10px;
    }

    nav input{
        width: 120px;
        max-width: 190px;
    }
    
    
    nav input::placeholder{
        font-size: 12px;
    }
    
    .loginTextClass {
        margin: 0 10px;
        font-size: 25px;
    }

    .inputClassName {
        font-size: 15px;
    }
    
    .btnClassSend {
        width: 120px;
        font-size: 12px;
    }

    .error-message {
        font-size: 12px;
        color: var(--error-msg);
        margin-left: 10px;
    }

    .deliveries-card-details label {
        display: flex;
    }

    /* HEADER CADASTRO COMPONENT*/

    .logged-user-container {
        font-size: 25px;
    }

}


@media(min-width:768px) {

    .condoTextClass{
        padding: 0 10px;
    }

    .loginInputClass {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .login-container {
        flex-direction: column;
        align-items:flex-start;
        padding: 0
    }


    nav input{
        width: 15vw;
        margin: 0 5px;
    }
    
    
    nav input::placeholder{
        font-size: 12px;
    }
    
    .loginTextClass {
        margin: 0 8px;
        font-size: 25px;
    }
    
    .btnClassSend {
        width: 15vw;
        max-width: 130px;
        font-size: 12px;
        margin: 0 5px;
    }
}