@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-font-color: #d9d9d9;
  --secondary-color: #6d2f6d;
  --dark-gray: #666;
  --lihgt-grey: #9fbdbe;
  --color-white: #fff;
  --bg-btn-collor: #ff8400;
  --bg-rpt-list-color: #333;
  --error-msg: #f33;
  --bg-delivery-card: rgb(134, 216, 134);
  --bg-footer-back: #000;
  --gk-color-bg-primary: #e8e8e8;
  --gk-color-bg-secondary: #ffe500;
  --gk-color-bg-terciary: #636363;
  --gk-color-bg-quaternary: #0caf1d;

  --gk-color-card-bg: #fff;
  --gk-color-card-border: #d9d9d9;
  --gk-color-cart-notification-bg: #f00;

  --gk-color-btn-primary: #3483fa;
  --gk-color-btn-inverse: #fff;

  --gk-color-font-primary: #636363;
  --gk-color-font-secondary: #0caf1d;
  --gk-color-font-tertiary: #fff;

  --gk-color-error: #f33;

  --gk-color-font-placeholder: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

header, footer {
  background-color: var(--dark-gray);
}

nav {
  height: 120px;
  background-color: var(--lihgt-grey);
}

label {
  display: none;
}


/*GENERAL HEADERs CLASSES & IDs */

.container {
  width: 100%;
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.condoTextClass{
  font-size: 15px;
  padding: 0 5px;
}


/* GENERAL CLASSES & IDs */

.dflex {
  display: flex;
  margin-bottom: 5px;
}

.dblock{
  display: block;
}

.date {
  margin-right: 5px;
}


/*Search Bar buttons*/
.gkr-search-bar {
  height: 40px;
  display: flex;
  color: var(--gk-color-font-primary);
}


.gkr-search-bar button[type="reset"] {
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.gkr-search-bar button {
  border: 1px solid var(--bg-btn-collor);
  width: 40px;
  color: var(--lihgt-grey);
  background-color: var(--gk-color-btn-inverse);
  font-size: 20px;
}

.gkr-search-bar input{
  height: 40px;
}

.search-put {
  border-radius: 5px;
  color: var(--dark-grey);
  border: 1px solid var(--bg-btn-collor);
  outline: none;
  padding: 5px;
  margin-bottom: 10px;
}

.search-put::placeholder {
  padding-left: 5px;
  color: var(--lihgt-grey)
}

.border-selected {
  border: solid 2px var(--bg-btn-collor);
}

.ml20{
  margin-left: 20px;
}

.mr20{
  margin-right: 20px;
}

.gkr-mb20 {
  margin-bottom: 20px;
}

.gkr-mt20 {
  margin-top: 20px;
}

.editDeleteMenu{
  display: flex;
  direction: rtl;
  margin-top: none;
  margin-bottom: 10px;
}

.deleteIcon {
  cursor: pointer;
}

.editIcon{
  cursor: pointer;
}

.gkr-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gkr-btn-blue {
  background-color: var(--gk-color-card-bg);
  color: var(--bg-btn-collor);
  border: solid 1px var(--lihgt-grey);
  max-width: 175px;
}

.gkr-btn-white {
  border: 1px solid var(--bg-btn-collor);
  background-color: var(--color-white);
  color: var(--bg-btn-collor);
  max-width: 175px;
}

.gkr-textarea {
  resize: none;
  height: 128px;
  padding-top: 10px;
}

.gkr-form-control:focus {
  outline: none;
}

.gkr-form-control::placeholder{
  font-size: 10px;
  color: var(--primary-font-color);
}

.gkr-form-control[data-dirty="true"][data-invalid="true"] ~ div{
  display: unset;
}



/* NOT FOUND GENERAL CLASSES */
.img-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-size {
  width: 100%;
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
}




/* BOOTSTREP BREAKPOINTS */

@media(min-width:576px) {

  .condoTextClass {
    font-size: 25px;
    padding: 0 10px;
  }

  #report-section h2, #complain-section h2, #delivery-section h2 {
    font-size: 25px;
  }

  .report-card-item, .complain-card-item {
    font-size: 15px;
  }

  .deliveries-card-item{
    font-size: 12px;
  }

  .login-container {
    padding: 0 10px;
  }

  nav input {
    width: 120px;
    max-width: 190px;
  }


  nav input::placeholder {
    font-size: 12px;
  }

  .loginTextClass {
    margin: 0 10px;
    font-size: 25px;
  }


  .btnClassSend {
    width: 120px;
    font-size: 12px;
  }

  .error-message {
    font-size: 12px;
    color: var(--error-msg);
    margin-left: 10px;
  }

  .deliveries-card-details label {
    display: flex;
  }

  .deliveryBoxImg{
    width: 90px;
    margin: 10px 20px
  }

  /* FOOTER */
  .footer-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .footer-left-items {
    height: 180px;
    flex-direction: column;
    justify-content: space-between;
  }

  .condo-address {
    font-size: 16px;
  }

}



@media(min-width:768px) {

  .condoTextClass {
    padding: 0 10px;
  }

  .loginInputClass {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .login-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0
  }


  nav input {
    width: 15vw;
    margin: 0 5px;
  }


  nav input::placeholder {
    font-size: 12px;
  }

  .loginTextClass {
    margin: 0 8px;
    font-size: 25px;
  }

  .btnClassSend {
    width: 15vw;
    max-width: 130px;
    font-size: 12px;
    margin: 0 5px;
  }
}

/* DIALOG CLASSES*/

.gkr-dialog-info-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.gkr-dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--gk-color-card-bg);
}

.gkr-dialog-box h2 {
  font-size: 20px;
  color: var(--gk-color-font-primary);
  margin-bottom: 20px;
}

.gkr-dialog-btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.gkr-dialog-btn {
  width: 100%;
}