.logged-user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5px;
    font-size: 15px;
}

.logged-user-container p{
    color: var(--secondary-color);
}

.logged-user-container span{
    font-weight: 700;
    cursor: pointer;
}

.loginTextClass{
    margin: 0 5px;
    font-size: 15px;
}

.loginInputClass {
    display: flex;
    flex-direction: column;
}

.inputClassName {
    font-size: 10px;
    display: block;
}

.inputClassPassword{
    display: block;
}

.inputClassName[data-dirty="true"][data-invalid="true"] {
    border: solid 1px var(--gk-color-error);
}

.inputClassName[data-dirty="true"][data-invalid="true"]~div {
    display: unset;
}

.inputClassPassword[data-dirty="true"][data-invalid="true"] {
    border: solid 1px var(--gk-color-error);
}

.inputClassPassword[data-dirty="true"][data-invalid="true"]~div {
    display: unset;
}

nav input{
    width: 100px;
    height: 20px;
    margin: 5px 5px;
    border-radius: 5px;
    border: 0px;
    outline: none;
    padding: 0 10px;
    color: var(--dark-gray);
}


nav input::placeholder{
    font-size: 10px;
    color: var(--primary-font-color);
}


.btnClassSend {
    width: 100px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--bg-btn-collor);
    color: var(--color-white);
    font-weight: 400;
    font-size: 10px;
    cursor: pointer;
}

.error-message {
    font-size: 8px;
    font-weight: 400;
    color: var(--error-msg);
    padding-left: 4px;
    display: none;
}


.errorBorder {
    border: 1px solid var(--error-msg);
}
