/* REPORTS´S CLASSES & IDs */


.report-card-item {
    background-color: var(--lihgt-grey);
    color: var(--secondary-color);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 10px;
    cursor: pointer;
}

.rep-owner {
    direction: rtl;
}


.dblock {
    display: block;
    margin: 1rem 0;
    margin-bottom: 0px;
}

