/* DELIVERIES CLASSES & IDs */

.delivery-title {
    font-size: 15px;
    padding: 0 5px;
}


.deliveries-card-item {
    display: flex;
    align-items: center;
    background-color: var(--bg-delivery-card);
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 10px;
}

.deliveries-card-details label {
    font-weight: 700;
    margin: 5px 0;
}

.deliveries-card-details p {
    display: flex;
    margin: 5px 5px;
}

#deliveries-card-description{
    display: flex;
}


.deliveries-card-details{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.deliveryBoxImg {
    width: 80px;
    margin: 10px 10px;
}

.delivery-id-focus {
    color: brown;
    font-size: 25px;
    font-weight: 400;
    padding: 0 5px;
    margin-top: 20px;
}